<section class="rsvp" id="rsvp">
  <div class="into_firefly"></div>
  <div class="container">
    <h2>Lễ thành hôn</h2>
    <h2>Nguyễn Trung Hiếu &amp; Trần Thị Thu Hường</h2>
    <h2>19:00 thứ Bảy - 04/03/2017</h2>

    <div id="envelope" data-100-top="@class:active" data-200-bottom="@class: ">
      <div class="paper">

        <!-- End Date of Reservation -->
        <div class="paper_title">Xin điền thông tin và nhấn nút "Xác nhận"</div>

        <!-- Form -->
        <div id="div_block_1">
          <%= render partial: 'home/form', locals: {rsvp: @rsvp} %>
        </div>
      </div>

    </div>
  </div>
</section>
