<style type="text/css">
  h2 {
    font: 46px Lobster;
    text-shadow: -1px 0 10px black, 0 1px 10px black, 1px 0 10px black, 0 -1px 10px black;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 0 20px 0;
  }

  h2:after {
    background: none;
    height: auto;
    margin: auto;
  }

  div.paper, div#div_block_1, .form-control, .btn, p {
    font-family: Roboto Condensed !important;
  }
</style>
<section class="rsvp" id="rsvp" style="background-image: url('/images/2.jpg');">
  <div class="into_firefly"></div>
  <div class="over"></div>
  <div class="container">
    <h2 style="font-size: 34px;">Nguyễn Trung Hiếu &amp; Trần Thị Thu Hường</h2>
    <h2 style="color: white; font-weight: light; font-size: 26px;">Đón khách: 18:00 thứ Bảy - 04/03/2017</h2>

    <div id="envelope" data-100-top="@class:active" data-200-bottom="@class: ">
      <div class="paper">

        <!-- End Date of Reservation -->
        <div class="paper_title" style="margin-bottom: 10px;">Điền thông tin và nhấn nút "Xác nhận"</div>
        <div class="paper_title" style="color: #999; font-size: 18px; font-style: italic;">(Nếu không tham dự được xin điền số 0 vào Số người tham dự)</div>

        <!-- Form -->
        <div id="div_block_1">
          <%= render partial: 'home/form', locals: {rsvp: @rsvp} %>
        </div>
      </div>

    </div>
  </div>
</section>
