<section class="rsvp" id="rsvp">
  <div class="into_firefly"></div>
  <div class="container">
    <h2>Join Our Party</h2>

    <div id="envelope" data-100-top="@class:active" data-200-bottom="@class: ">
      <div class="paper">

        <!-- End Date of Reservation -->
        <div class="paper_title">Please RSVP by March 2nd</div>

        <!-- Form -->
        <div id="div_block_1">
          <form>
            <div class="txt_input">
              <input type="text" class="form-control" id="name_block_1"  placeholder="Your Code">
            </div>
            <div class="txt_input">
              <input type="text" class="form-control" id="attending_block_1"  placeholder="# Attending">
            </div>
            <input name="" type="submit" value="Send" class="btn btn-lg submit_block_1">
          </form>

          <!-- Form Additional text -->
          <p>We’re excited to see you! Any questions, just email us at:<br/>
          <a href="mailto:hieunguyengmx@gmail.com">hieunguyengmx@gmail.com</a></p>
        </div>
      </div>

    </div>
  </div>
</section>
