<style type="text/css">
  h2 {
    margin-bottom: 10px;
  }

  h2:after {
    background: none;
    height: auto;
    margin: auto;
  }
</style>
<section class="rsvp" id="rsvp" style="background-image: url('/images/2.jpg');">
  <div class="into_firefly"></div>
  <div class="over"></div>
  <div class="container">
    <h2 style="color: white; font-size: 20px;">Nguyễn Trung Hiếu &amp; Trần Thị Thu Hường</h2>
    <h2 style="color: white; font-weight: bold; font-size: 15px;">Đón khách: 18:00 thứ Bảy - 04/03/2017</h2>

    <div id="envelope" data-100-top="@class:active" data-200-bottom="@class: ">
      <div class="paper">

        <!-- End Date of Reservation -->
        <div class="paper_title">Xin điền thông tin và nhấn nút "Xác nhận"</div>
        <div class="paper_title" style="color: #666666; font-size: 20px;">(Nếu không tham dự được xin điền số 0)</div>

        <!-- Form -->
        <div id="div_block_1">
          <%= render partial: 'home/form', locals: {rsvp: @rsvp} %>
        </div>
      </div>

    </div>
  </div>
</section>
