<section class="when_where white_txt parallax" id="when_where">
  <div class="into_firefly"></div>
  <div class="over"></div>
  <div class="container">
    <div class="when_where_container opacity">
      <h2><span>Where &amp;</span> When</h2>
      <!-- Texts -->
      <div class="pattern1"></div>
      <div class="title1">5 o'clock</div>
      <div class="title5">IN THE EVENING</div>
      <div class="title1">The Historic</div>
      <div class="title2">Redhouse Depot</div>
      <div class="title3"><a href="https://goo.gl/maps/dhx42" target="_blank">
      320 Church Street <br />Huntsville, Alabama</a><br /><i class="flaticon-map35"></i> </div>

      <div class="pattern2"></div>
      <div class="title4"><%= @visitor.name %><br><%= @visitor.num %> người - bàn số <%= @visitor.table.to_i %></div>
      <div class="pattern3"></div>
    </div>
  </div>
</section>
